.discount {
    font-size: 14px;
    color: green;
    font-weight: bold;
}

.borderProduct {
    border-radius: 1rem;
    box-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0, 0 0 40px #0f0, 0 0 50px #0f0;
}

/* ========= BOX PRODUCT ONE =========== */

.box__two1INFO--main::before,
.box__two1INFO--main::after,
.box__one1INFO--main::before,
.box__one1INFO--main::after {
    content: '';
    display: block;
    width: 40rem;
    height: 40rem;
    position: absolute;
    -webkit-background-size: 800%;
    background-size: 800%;
    animation-duration: 4s;
    background-position: 0 0;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    transform-origin: 50% 50% -200px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, .3), transparent);
}

.box__two1INFO--main {
    transform: translateZ(0);
    mix-blend-mode: screen;
    transform: scale(0.8);
}

.box__one1INFO--main {
    transform: translateZ(0);
    position: relative;
    top: 2rem;
    left: 1.5rem;
    bottom: 2rem;
    transform: scale(0.7);
}

.box__one1INFO--main,
.box__two1INFO--main {
    perspective: 60rem;
}

.box__two1INFO--main::before,
.box__one1INFO--main::before {
    animation-name: animate1__main;
}

.box__two1INFO--main::after,
.box__one1INFO--main::after {
    animation-name: animate2__main;
}

.box__one1INFO--main::before,
.box__one1INFO--main::after {
    background: url(https://firebasestorage.googleapis.com/v0/b/reactpersonalspotifyapp.appspot.com/o/productOne.jpg?alt=media&token=f3896047-a675-4515-a112-4f8caf443ad8);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}

/* ========= BOX PRODUCT TWO =========== */

.box__two2INFO--main::before,
.box__two2INFO--main::after,
.box__one2INFO--main::before,
.box__one2INFO--main::after {
    content: '';
    display: block;
    width: 40rem;
    height: 40rem;
    position: absolute;
    -webkit-background-size: 800%;
    background-size: 800%;
    animation-duration: 4s;
    background-position: 0 0;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    transform-origin: 50% 50% -200px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, .3), transparent);
}

.box__two2INFO--main {
    transform: translateZ(0);
    mix-blend-mode: screen;
    transform: scale(0.8);
}

.box__one2INFO--main {
    transform: translateZ(0);
    position: relative;
    top: 2rem;
    left: 1.5rem;
    bottom: 2rem;
    transform: scale(0.7);
}

.box__one2INFO--main,
.box__two2INFO--main {
    perspective: 60rem;
}

.box__two2INFO--main::before,
.box__one2INFO--main::before {
    animation-name: animate1__main;
}

.box__two2INFO--main::after,
.box__one2INFO--main::after {
    animation-name: animate2__main;
}

.box__one2INFO--main::before,
.box__one2INFO--main::after {
    background: url(https://firebasestorage.googleapis.com/v0/b/reactpersonalspotifyapp.appspot.com/o/productOne.jpg?alt=media&token=f3896047-a675-4515-a112-4f8caf443ad8);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}

/* ========= BOX PRODUCT THREE =========== */

.box__two3INFO--main::before,
.box__two3INFO--main::after,
.box__one3INFO--main::before,
.box__one3INFO--main::after {
    content: '';
    display: block;
    width: 40rem;
    height: 40rem;
    position: absolute;
    -webkit-background-size: 800%;
    background-size: 800%;
    animation-duration: 4s;
    background-position: 0 0;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    transform-origin: 50% 50% -200px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, .3), transparent);
}

.box__two3INFO--main {
    transform: translateZ(0);
    mix-blend-mode: screen;
    transform: scale(0.8);
}

.box__one3INFO--main {
    transform: translateZ(0);
    position: relative;
    top: 2rem;
    left: 1.5rem;
    bottom: 2rem;
    transform: scale(0.7);
}

.box__one3INFO--main,
.box__two3INFO--main {
    perspective: 60rem;
}

.box__two3INFO--main::before,
.box__one3INFO--main::before {
    animation-name: animate1__main;
}

.box__two3INFO--main::after,
.box__one3INFO--main::after {
    animation-name: animate2__main;
}

.box__one3INFO--main::before,
.box__one3INFO--main::after {
    background: url(https://firebasestorage.googleapis.com/v0/b/reactpersonalspotifyapp.appspot.com/o/productOne.jpg?alt=media&token=f3896047-a675-4515-a112-4f8caf443ad8);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}

/* ========= BOX PRODUCT FOUR =========== */

.box__two4INFO--main::before,
.box__two4INFO--main::after,
.box__one4INFO--main::before,
.box__one4INFO--main::after {
    content: '';
    display: block;
    width: 40rem;
    height: 40rem;
    position: absolute;
    -webkit-background-size: 800%;
    background-size: 800%;
    animation-duration: 4s;
    background-position: 0 0;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    transform-origin: 50% 50% -200px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, .3), transparent);
}

.box__two4INFO--main {
    transform: translateZ(0);
    mix-blend-mode: screen;
    transform: scale(0.8);
}

.box__one4INFO--main {
    transform: translateZ(0);
    position: relative;
    top: 2rem;
    left: 1.5rem;
    bottom: 2rem;
    transform: scale(0.7);
}

.box__one4INFO--main,
.box__two4INFO--main {
    perspective: 60rem;
}

.box__two4INFO--main::before,
.box__one4INFO--main::before {
    animation-name: animate1__main;
}

.box__two4INFO--main::after,
.box__one4INFO--main::after {
    animation-name: animate2__main;
}

.box__one4INFO--main::before,
.box__one4INFO--main::after {
    background: url(https://firebasestorage.googleapis.com/v0/b/reactpersonalspotifyapp.appspot.com/o/productOne.jpg?alt=media&token=f3896047-a675-4515-a112-4f8caf443ad8);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}

/* ========= BOX PRODUCT FIVE =========== */

.box__two5INFO--main::before,
.box__two5INFO--main::after,
.box__one5INFO--main::before,
.box__one5INFO--main::after {
    content: '';
    display: block;
    width: 40rem;
    height: 40rem;
    position: absolute;
    -webkit-background-size: 800%;
    background-size: 800%;
    animation-duration: 4s;
    background-position: 0 0;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    transform-origin: 50% 50% -200px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, .3), transparent);
}

.box__two5INFO--main {
    transform: translateZ(0);
    mix-blend-mode: screen;
    transform: scale(0.8);
}

.box__one5INFO--main {
    transform: translateZ(0);
    position: relative;
    top: 2rem;
    left: 1.5rem;
    bottom: 2rem;
    transform: scale(0.7);
}

.box__one5INFO--main,
.box__two5INFO--main {
    perspective: 60rem;
}

.box__two5INFO--main::before,
.box__one5INFO--main::before {
    animation-name: animate1__main;
}

.box__two5INFO--main::after,
.box__one5INFO--main::after {
    animation-name: animate2__main;
}

.box__one5INFO--main::before,
.box__one5INFO--main::after {
    background: url(https://firebasestorage.googleapis.com/v0/b/reactpersonalspotifyapp.appspot.com/o/productOne.jpg?alt=media&token=f3896047-a675-4515-a112-4f8caf443ad8);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}