.section__container--music {
    padding: 2rem;
    display: grid;
    column-gap: 3rem;
    row-gap: 8rem;
    align-items: center;
    justify-content: center;
    /* border: #ffffff solid 1px; */
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.box__containerM--areaMain1 {
    width: 15rem;
    height: 37rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box__containerM--textPosition1 {
    top: 40rem;
    left: 14rem;
    padding: 1rem;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0, 0 0 40px #0f0, 0 0 50px #0f0;
}

.box__containerM--areaMain2 {
    left: 1rem;
    top: 26rem;
    width: 15rem;
    height: 37rem;
    padding: 1rem;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
}

.box__containerM--textPosition2 {
    top: 35rem;
    left: 14rem;
    margin: 6rem;
    padding: 1rem;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0, 0 0 40px #0f0, 0 0 50px #0f0;
}

.box__containerM--areaMain3 {
    left: 2rem;
    top: 54rem;
    width: 15rem;
    height: 37rem;
    padding: 1rem;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
}

.box__containerM--textPosition3 {
    top: 35rem;
    left: 14rem;
    margin: 6rem;
    padding: 1rem;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0, 0 0 40px #0f0, 0 0 50px #0f0;
}

/** ========== BOX MAIN MUSIC ONE ========== */

.box__twoM1--main::before,
.box__twoM1--main::after,
.box__oneM1--main::before,
.box__oneM1--main::after {
    content: '';
    display: block;
    width: 40rem;
    height: 40rem;
    position: absolute;
    -webkit-background-size: 800%;
    background-size: 800%;
    animation-duration: 4s;
    background-position: 0 0;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    transform-origin: 50% 50% -200px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, .3), transparent);
}

.box__twoM1--main {
    transform: translateZ(0);
    mix-blend-mode: screen;
    transform: scale(0.8);
}

.box__oneM1--main {
    transform: translateZ(0);
    position: relative;
    top: 2rem;
    left: 1.5rem;
    bottom: 2rem;
    transform: scale(0.7);
}

.box__oneM1--main,
.box__twoM1--main {
    perspective: 60rem;
}

.box__twoM1--main::before,
.box__oneM1--main::before {
    animation-name: animate1__main;
}

.box__twoM1--main::after,
.box__oneM1--main::after {
    animation-name: animate2__main;
}

.box__oneM1--main::before,
.box__oneM1--main::after {
    background: url(https://i.scdn.co/image/ab67616d0000b273d304ba2d71de306812eebaf4);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}

/** ========== BOX MAIN MUSIC TWO ========== */

.box__twoM2--main::before,
.box__twoM2--main::after,
.box__oneM2--main::before,
.box__oneM2--main::after {
    content: '';
    display: block;
    width: 40rem;
    height: 40rem;
    position: absolute;
    -webkit-background-size: 800%;
    background-size: 800%;
    animation-duration: 4s;
    background-position: 0 0;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    transform-origin: 50% 50% -200px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, .3), transparent);
}

.box__twoM2--main {
    transform: translateZ(0);
    mix-blend-mode: screen;
    transform: scale(0.8);
}

.box__oneM2--main {
    transform: translateZ(0);
    position: relative;
    top: 2rem;
    left: 1.5rem;
    bottom: 2rem;
    transform: scale(0.7);
}

.box__oneM2--main,
.box__twoM2--main {
    perspective: 60rem;
}

.box__twoM2--main::before,
.box__oneM2--main::before {
    animation-name: animate1__main;
}

.box__twoM2--main::after,
.box__oneM2--main::after {
    animation-name: animate2__main;
}

.box__oneM2--main::before,
.box__oneM2--main::after {
    background: url(https://i.scdn.co/image/ab67616d0000b2734a5584795dc73860653a9a3e);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}

/** ========== BOX MAIN MUSIC THREE ========== */

.box__twoM3--main::before,
.box__twoM3--main::after,
.box__oneM3--main::before,
.box__oneM3--main::after {
    content: '';
    display: block;
    width: 40rem;
    height: 40rem;
    position: absolute;
    -webkit-background-size: 800%;
    background-size: 800%;
    animation-duration: 4s;
    background-position: 0 0;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    transform-origin: 50% 50% -200px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, .3), transparent);
}

.box__twoM3--main {
    transform: translateZ(0);
    mix-blend-mode: screen;
    transform: scale(0.8);
}

.box__oneM3--main {
    transform: translateZ(0);
    position: relative;
    top: 2rem;
    left: 1.5rem;
    bottom: 2rem;
    transform: scale(0.7);
}

.box__oneM3--main,
.box__twoM3--main {
    perspective: 60rem;
}

.box__twoM3--main::before,
.box__oneM3--main::before {
    animation-name: animate1__main;
}

.box__twoM3--main::after,
.box__oneM3--main::after {
    animation-name: animate2__main;
}

.box__oneM3--main::before,
.box__oneM3--main::after {
    background: url(https://i.scdn.co/image/ab67616d0000b2732f76b797c382bedcafdf45e1);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}

/** ========== BOX MAIN MUSIC FOUR ========== */

.box__twoM4--main::before,
.box__twoM4--main::after,
.box__oneM4--main::before,
.box__oneM4--main::after {
    content: '';
    display: block;
    width: 40rem;
    height: 40rem;
    position: absolute;
    -webkit-background-size: 800%;
    background-size: 800%;
    animation-duration: 4s;
    background-position: 0 0;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    transform-origin: 50% 50% -200px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, .3), transparent);
}

.box__twoM4--main {
    transform: translateZ(0);
    mix-blend-mode: screen;
    transform: scale(0.8);
}

.box__oneM4--main {
    transform: translateZ(0);
    position: relative;
    top: 2rem;
    left: 1.5rem;
    /* left: 1.rem; */
    bottom: 2rem;
    transform: scale(0.7);
}

.box__oneM4--main,
.box__twoM4--main {
    perspective: 60rem;
}

.box__twoM4--main::before,
.box__oneM4--main::before {
    animation-name: animate1__main;
}

.box__twoM4--main::after,
.box__oneM4--main::after {
    animation-name: animate2__main;
}

.box__oneM4--main::before,
.box__oneM4--main::after {
    background: url(https://i.scdn.co/image/ab67616d0000b2732f76b797c382bedcafdf45e1);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}

/** ========== BOX MAIN MUSIC FIVE ========== */

.box__twoM5--main::before,
.box__twoM5--main::after,
.box__oneM5--main::before,
.box__oneM5--main::after {
    content: '';
    display: block;
    width: 40rem;
    height: 40rem;
    position: absolute;
    -webkit-background-size: 800%;
    background-size: 800%;
    animation-duration: 4s;
    background-position: 0 0;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    transform-origin: 50% 50% -200px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, .3), transparent);
}

.box__twoM5--main {
    transform: translateZ(0);
    mix-blend-mode: screen;
    transform: scale(0.8);
}

.box__oneM5--main {
    transform: translateZ(0);
    position: relative;
    top: 2rem;
    left: 1.5rem;
    /* left: 1.rem; */
    bottom: 2rem;
    transform: scale(0.7);
}

.box__oneM5--main,
.box__twoM5--main {
    perspective: 60rem;
}

.box__twoM5--main::before,
.box__oneM5--main::before {
    animation-name: animate1__main;
}

.box__twoM5--main::after,
.box__oneM5--main::after {
    animation-name: animate2__main;
}

.box__oneM5--main::before,
.box__oneM5--main::after {
    background: url(https://i.scdn.co/image/ab67616d0000b273d304ba2d71de306812eebaf4);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}

/** ========== BOX MAIN MUSIC SIX ========== */

.box__twoM6--main::before,
.box__twoM6--main::after,
.box__oneM6--main::before,
.box__oneM6--main::after {
    content: '';
    display: block;
    width: 40rem;
    height: 40rem;
    position: absolute;
    -webkit-background-size: 800%;
    background-size: 800%;
    animation-duration: 4s;
    background-position: 0 0;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    transform-origin: 50% 50% -200px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, .3), transparent);
}

.box__twoM6--main {
    transform: translateZ(0);
    mix-blend-mode: screen;
    transform: scale(0.8);
}

.box__oneM6--main {
    transform: translateZ(0);
    position: relative;
    /* top: 2rem; */
    left: 1.5rem;
    left: 1.rem;
    bottom: 2rem;
    transform: scale(0.7);
}

.box__oneM6--main,
.box__twoM6--main {
    perspective: 60rem;
}

.box__twoM6--main::before,
.box__oneM6--main::before {
    animation-name: animate1__main;
}

.box__twoM6--main::after,
.box__oneM6--main::after {
    animation-name: animate2__main;
}

.box__oneM6--main::before,
.box__oneM6--main::after {
    background: url(https://i.scdn.co/image/ab67616d0000b273d304ba2d71de306812eebaf4);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}

/** ========== BOX MAIN MUSIC SEVEN ========== */

.box__twoM7--main::before,
.box__twoM7--main::after,
.box__oneM7--main::before,
.box__oneM7--main::after {
    content: '';
    display: block;
    width: 40rem;
    height: 40rem;
    position: absolute;
    -webkit-background-size: 800%;
    background-size: 800%;
    animation-duration: 4s;
    background-position: 0 0;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    transform-origin: 50% 50% -200px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, .3), transparent);
}

.box__twoM7--main {
    transform: translateZ(0);
    mix-blend-mode: screen;
    transform: scale(0.8);
}

.box__oneM7--main {
    transform: translateZ(0);
    position: relative;
    top: 2rem;
    left: 1.5rem;
    /* left: 1.rem; */
    bottom: 2rem;
    transform: scale(0.7);
}

.box__oneM7--main,
.box__twoM7--main {
    perspective: 60rem;
}

.box__twoM7--main::before,
.box__oneM7--main::before {
    animation-name: animate1__main;
}

.box__twoM7--main::after,
.box__oneM7--main::after {
    animation-name: animate2__main;
}

.box__oneM7--main::before,
.box__oneM7--main::after {
    background: url(https://i.scdn.co/image/ab67616d0000b273241e4fe75732c9c4b49b94c3);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}

/** ========== BOX MAIN MUSIC EIGHT ========== */

.box__twoM8--main::before,
.box__twoM8--main::after,
.box__oneM8--main::before,
.box__oneM8--main::after {
    content: '';
    display: block;
    width: 40rem;
    height: 40rem;
    position: absolute;
    -webkit-background-size: 800%;
    background-size: 800%;
    animation-duration: 4s;
    background-position: 0 0;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    transform-origin: 50% 50% -200px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, .3), transparent);
}

.box__twoM8--main {
    transform: translateZ(0);
    mix-blend-mode: screen;
    transform: scale(0.8);
}

.box__oneM8--main {
    transform: translateZ(0);
    position: relative;
    top: 2rem;
    left: 1.5rem;
    /* left: 1.rem; */
    bottom: 2rem;
    transform: scale(0.7);
}

.box__oneM8--main,
.box__twoM8--main {
    perspective: 60rem;
}

.box__twoM8--main::before,
.box__oneM8--main::before {
    animation-name: animate1__main;
}

.box__twoM8--main::after,
.box__oneM8--main::after {
    animation-name: animate2__main;
}

.box__oneM8--main::before,
.box__oneM8--main::after {
    background: url(https://i.scdn.co/image/ab67616d0000b273241e4fe75732c9c4b49b94c3);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}

/** ========== BOX MAIN MUSIC NINE ========== */

.box__twoM9--main::before,
.box__twoM9--main::after,
.box__oneM9--main::before,
.box__oneM9--main::after {
    content: '';
    display: block;
    width: 40rem;
    height: 40rem;
    position: absolute;
    -webkit-background-size: 800%;
    background-size: 800%;
    animation-duration: 4s;
    background-position: 0 0;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    transform-origin: 50% 50% -200px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, .3), transparent);
}

.box__twoM9--main {
    transform: translateZ(0);
    mix-blend-mode: screen;
    transform: scale(0.8);
}

.box__oneM9--main {
    transform: translateZ(0);
    position: relative;
    top: 2rem;
    left: 1.5rem;
    /* left: 1.rem; */
    bottom: 2rem;
    transform: scale(0.7);
}

.box__oneM9--main,
.box__twoM9--main {
    perspective: 60rem;
}

.box__twoM9--main::before,
.box__oneM9--main::before {
    animation-name: animate1__main;
}

.box__twoM9--main::after,
.box__oneM9--main::after {
    animation-name: animate2__main;
}

.box__oneM9--main::before,
.box__oneM9--main::after {
    background: url(https://i.scdn.co/image/ab67616d0000b2732f76b797c382bedcafdf45e1);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}