.image {
    height: 250px;
    width: 350px;
}

.section__container--members {
    /* padding: 2rem; */
    display: grid;
    column-gap: 28rem;
    /* align-items: center; */
    /* justify-content: center; */
    /* border: #ffffff solid 1px; */
    /* grid-template-rows: repeat(3, 1fr); */
    grid-template-columns: 1fr 5fr;
}

.section__container--membersChild {
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: center;
}

.section__container--members2 {
    /* padding-left: 2rem; */
    display: grid;
    /* column-gap: 28rem; */
    /* align-items: center; */
    /* justify-content: center; */
    /* border: #ffffff solid 1px; */
    /* grid-template-rows: repeat(3, 1fr); */
    grid-template-columns: 2fr 1fr;
}

.section__container--membersChild2 {
    align-self: center;
    grid-column-end: 2;
    grid-column-start: 1;
}

.section__container--bothMembers {
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0, 0 0 40px #0f0, 0 0 50px #0f0;
}


/** ========== BOX MAIN TWO (MEMBER ONE) ========== */

.box__two1I--main::before,
.box__two1I--main::after,
.box__one1I--main::before,
.box__one1I--main::after {
    content: '';
    display: block;
    width: 40rem;
    height: 40rem;
    position: absolute;
    -webkit-background-size: 800%;
    background-size: 800%;
    animation-duration: 4s;
    background-position: 0 0;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    transform-origin: 50% 50% -200px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, .3), transparent);
}

.box__two1I--main {
    transform: translateZ(0);
    mix-blend-mode: screen;
    transform: scale(0.8);
}

.box__one1I--main {
    transform: translateZ(0);
    position: relative;
    top: 2rem;
    left: 1.5rem;
    bottom: 2rem;
    transform: scale(0.7);
}

.box__one1I--main,
.box__two1I--main {
    perspective: 60rem;
}

.box__two1I--main::before,
.box__one1I--main::before {
    animation-name: animate1__main;
}

.box__two1I--main::after,
.box__one1I--main::after {
    animation-name: animate2__main;
}

.box__one1I--main::before,
.box__one1I--main::after {
    background: url(https://firebasestorage.googleapis.com/v0/b/reactpersonalspotifyapp.appspot.com/o/OneHarryImage.webp?alt=media&token=6ca35267-2fba-4930-8854-4c33015fba85);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}

/** ========== BOX MAIN THREE (MEMBER TWO) ========== */

.box__two2I--main::before,
.box__two2I--main::after,
.box__one2I--main::before,
.box__one2I--main::after {
    content: '';
    display: block;
    width: 40rem;
    height: 40rem;
    position: absolute;
    -webkit-background-size: 800%;
    background-size: 800%;
    animation-duration: 4s;
    background-position: 0 0;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    transform-origin: 50% 50% -200px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, .3), transparent);
}

.box__two2I--main {
    transform: translateZ(0);
    mix-blend-mode: screen;
    transform: scale(0.8);
}

.box__one2I--main {
    transform: translateZ(0);
    position: relative;
    top: 2rem;
    left: 1.5rem;
    bottom: 2rem;
    transform: scale(0.7);
}

.box__one2I--main,
.box__two2I--main {
    perspective: 60rem;
}

.box__two2I--main::before,
.box__one2I--main::before {
    animation-name: animate1__main;
}

.box__two2I--main::after,
.box__one2I--main::after {
    animation-name: animate2__main;
}

.box__one2I--main::before,
.box__one2I--main::after {
    background: url(https://firebasestorage.googleapis.com/v0/b/reactpersonalspotifyapp.appspot.com/o/NiallHoranFourImage.jpg?alt=media&token=489828df-0dae-4202-915e-e587a675e20e);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}

/** ========== BOX MAIN FOUR (MEMBER THREE) ========== */

.box__two3I--main::before,
.box__two3I--main::after,
.box__one3I--main::before,
.box__one3I--main::after {
    content: '';
    display: block;
    width: 40rem;
    height: 40rem;
    position: absolute;
    -webkit-background-size: 800%;
    background-size: 800%;
    animation-duration: 4s;
    background-position: 0 0;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    transform-origin: 50% 50% -200px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, .3), transparent);
}

.box__two3I--main {
    transform: translateZ(0);
    mix-blend-mode: screen;
    transform: scale(0.8);
}

.box__one3I--main {
    transform: translateZ(0);
    position: relative;
    top: 2rem;
    left: 1.5rem;
    bottom: 2rem;
    transform: scale(0.7);
}

.box__one3I--main,
.box__two3I--main {
    perspective: 60rem;
}

.box__two3I--main::before,
.box__one3I--main::before {
    animation-name: animate1__main;
}

.box__two3I--main::after,
.box__one3I--main::after {
    animation-name: animate2__main;
}

.box__one3I--main::before,
.box__one3I--main::after {
    background: url(https://firebasestorage.googleapis.com/v0/b/reactpersonalspotifyapp.appspot.com/o/ZaynWikiFiveImage.jpg?alt=media&token=fecc9f2b-7c30-460f-a0b3-e24aea32401e);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}

/** ========== BOX MAIN FOUR (MEMBER FOUR) ========== */

.box__two4I--main::before,
.box__two4I--main::after,
.box__one4I--main::before,
.box__one4I--main::after {
    content: '';
    display: block;
    width: 40rem;
    height: 40rem;
    position: absolute;
    -webkit-background-size: 800%;
    background-size: 800%;
    animation-duration: 4s;
    background-position: 0 0;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    transform-origin: 50% 50% -200px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, .3), transparent);
}

.box__two4I--main {
    transform: translateZ(0);
    mix-blend-mode: screen;
    transform: scale(0.8);
}

.box__one4I--main {
    transform: translateZ(0);
    position: relative;
    top: 2rem;
    left: 1.5rem;
    bottom: 2rem;
    transform: scale(0.7);
}

.box__one4I--main,
.box__two4I--main {
    perspective: 60rem;
}

.box__two4I--main::before,
.box__one4I--main::before {
    animation-name: animate1__main;
}

.box__two4I--main::after,
.box__one4I--main::after {
    animation-name: animate2__main;
}

.box__one4I--main::before,
.box__one4I--main::after {
    background: url(https://firebasestorage.googleapis.com/v0/b/reactpersonalspotifyapp.appspot.com/o/LiamPayneSixImage.png?alt=media&token=9f6591cf-f163-40c8-af29-aade494e3967);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}

/** ========== BOX MAIN FIVE (MEMBER FIVE) ========== */

.box__two5I--main::before,
.box__two5I--main::after,
.box__one5I--main::before,
.box__one5I--main::after {
    content: '';
    display: block;
    width: 40rem;
    height: 40rem;
    position: absolute;
    -webkit-background-size: 800%;
    background-size: 800%;
    animation-duration: 4s;
    background-position: 0 0;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    transform-origin: 50% 50% -200px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, .3), transparent);
}

.box__two5I--main {
    transform: translateZ(0);
    mix-blend-mode: screen;
    transform: scale(0.8);
}

.box__one5I--main {
    transform: translateZ(0);
    position: relative;
    top: 2rem;
    left: 1.5rem;
    bottom: 2rem;
    transform: scale(0.7);
}

.box__one5I--main,
.box__two5I--main {
    perspective: 60rem;
}

.box__two5I--main::before,
.box__one5I--main::before {
    animation-name: animate1__main;
}

.box__two5I--main::after,
.box__one5I--main::after {
    animation-name: animate2__main;
}

.box__one5I--main::before,
.box__one5I--main::after {
    background: url(https://firebasestorage.googleapis.com/v0/b/reactpersonalspotifyapp.appspot.com/o/LouisTomlinsonThreeImage.webp?alt=media&token=85e80db9-805c-45ca-9d72-f7a6e7a55a15);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}