/** ========== BOX MAIN TWO (PRODUCT ONE) ========== */

.section__container--two {
    padding: 2rem;
    display: grid;
    column-gap: 3rem;
    row-gap: 8rem;
    align-items: center;
    justify-content: center;
    /* border: #ffffff solid 1px; */
    grid-template-rows: 1fr 1fr 1fr 0.2fr;
    grid-template-columns: repeat(3, 1fr);
}

.box__container--areaMain {
    width: 15rem;
    height: 37rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title__product {
    width: 23rem;
}

.box__container--textPosition1 {
    top: 40rem;
    left: 14rem;
    padding: 1rem;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0, 0 0 40px #0f0, 0 0 50px #0f0;
}

.box__container--textPosition2 {
    top: 35rem;
    left: 4rem;
    margin: 6rem;
    padding: 1rem;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0, 0 0 40px #0f0, 0 0 50px #0f0;
}

.box__container--imagePosition1 {
    top: 29rem;
    position: relative;
}

.box__two1--main::before,
.box__two1--main::after,
.box__one1--main::before,
.box__one1--main::after {
    content: '';
    display: block;
    width: 40rem;
    height: 40rem;
    position: absolute;
    -webkit-background-size: 800%;
    background-size: 800%;
    animation-duration: 4s;
    background-position: 0 0;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    transform-origin: 50% 50% -200px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, .3), transparent);
}

.box__two1--main {
    transform: translateZ(0);
    mix-blend-mode: screen;
    transform: scale(0.8);
}

.box__one1--main {
    transform: translateZ(0);
    position: relative;
    top: 2rem;
    left: 1.5rem;
    bottom: 2rem;
    transform: scale(0.7);
}

.box__one1--main,
.box__two1--main {
    perspective: 60rem;
}

.box__two1--main::before,
.box__one1--main::before {
    animation-name: animate1__main;
}

.box__two1--main::after,
.box__one1--main::after {
    animation-name: animate2__main;
}

.box__one1--main::before,
.box__one1--main::after {
    background: url(https://firebasestorage.googleapis.com/v0/b/reactpersonalspotifyapp.appspot.com/o/productOne.jpg?alt=media&token=f3896047-a675-4515-a112-4f8caf443ad8);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}

/** ========== BOX MAIN THREE (PRODUCT TWO) ========== */

.box__two2--main::before,
.box__two2--main::after,
.box__one2--main::before,
.box__one2--main::after {
    content: '';
    display: block;
    width: 40rem;
    height: 40rem;
    position: absolute;
    -webkit-background-size: 800%;
    background-size: 800%;
    animation-duration: 4s;
    background-position: 0 0;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    transform-origin: 50% 50% -200px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, .3), transparent);
}

.box__two2--main {
    transform: translateZ(0);
    mix-blend-mode: screen;
    transform: scale(0.8);
}

.box__one2--main {
    transform: translateZ(0);
    position: relative;
    top: 2rem;
    left: 1.5rem;
    bottom: 2rem;
    transform: scale(0.7);
}

.box__one2--main,
.box__two2--main {
    perspective: 60rem;
}

.box__two2--main::before,
.box__one2--main::before {
    animation-name: animate1__main;
}

.box__two2--main::after,
.box__one2--main::after {
    animation-name: animate2__main;
}

.box__one2--main::before,
.box__one2--main::after {
    background: url(https://firebasestorage.googleapis.com/v0/b/reactpersonalspotifyapp.appspot.com/o/productThree.jpg?alt=media&token=593b1f68-0a2f-44c5-9b58-9facf1591971);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}

/** ========== BOX MAIN FOUR (PRODUCT THREE) ========== */

.box__two3--main::before,
.box__two3--main::after,
.box__one3--main::before,
.box__one3--main::after {
    content: '';
    display: block;
    width: 40rem;
    height: 40rem;
    position: absolute;
    -webkit-background-size: 800%;
    background-size: 800%;
    animation-duration: 4s;
    background-position: 0 0;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    transform-origin: 50% 50% -200px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, .3), transparent);
}

.box__two3--main {
    transform: translateZ(0);
    mix-blend-mode: screen;
    transform: scale(0.8);
}

.box__one3--main {
    transform: translateZ(0);
    position: relative;
    top: 2rem;
    left: 1.5rem;
    bottom: 2rem;
    transform: scale(0.7);
}

.box__one3--main,
.box__two3--main {
    perspective: 60rem;
}

.box__two3--main::before,
.box__one3--main::before {
    animation-name: animate1__main;
}

.box__two3--main::after,
.box__one3--main::after {
    animation-name: animate2__main;
}

.box__one3--main::before,
.box__one3--main::after {
    background: url(https://firebasestorage.googleapis.com/v0/b/reactpersonalspotifyapp.appspot.com/o/productFour.jpg?alt=media&token=6b573806-5db1-4f58-bca0-5dcc79929bb8);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}

/** ========== BOX MAIN FOUR (PRODUCT FOUR) ========== */

.box__two4--main::before,
.box__two4--main::after,
.box__one4--main::before,
.box__one4--main::after {
    content: '';
    display: block;
    width: 40rem;
    height: 40rem;
    position: absolute;
    -webkit-background-size: 800%;
    background-size: 800%;
    animation-duration: 4s;
    background-position: 0 0;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    transform-origin: 50% 50% -200px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, .3), transparent);
}

.box__two4--main {
    transform: translateZ(0);
    mix-blend-mode: screen;
    transform: scale(0.8);
}

.box__one4--main {
    transform: translateZ(0);
    position: relative;
    top: 2rem;
    left: 1.5rem;
    bottom: 2rem;
    transform: scale(0.7);
}

.box__one4--main,
.box__two4--main {
    perspective: 60rem;
}

.box__two4--main::before,
.box__one4--main::before {
    animation-name: animate1__main;
}

.box__two4--main::after,
.box__one4--main::after {
    animation-name: animate2__main;
}

.box__one4--main::before,
.box__one4--main::after {
    background: url(https://firebasestorage.googleapis.com/v0/b/reactpersonalspotifyapp.appspot.com/o/productFive.jpg?alt=media&token=3ff8459e-26b6-4742-8188-519446a6612a);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}

/** ========== BOX MAIN FIVE (PRODUCT FIVE) ========== */

.box__two5--main::before,
.box__two5--main::after,
.box__one5--main::before,
.box__one5--main::after {
    content: '';
    display: block;
    width: 40rem;
    height: 40rem;
    position: absolute;
    -webkit-background-size: 800%;
    background-size: 800%;
    animation-duration: 4s;
    background-position: 0 0;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    transform-origin: 50% 50% -200px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, .3), transparent);
}

.box__two5--main {
    transform: translateZ(0);
    mix-blend-mode: screen;
    transform: scale(0.8);
}

.box__one5--main {
    transform: translateZ(0);
    position: relative;
    top: 2rem;
    left: 1.5rem;
    bottom: 2rem;
    transform: scale(0.7);
}

.box__one5--main,
.box__two5--main {
    perspective: 60rem;
}

.box__two5--main::before,
.box__one5--main::before {
    animation-name: animate1__main;
}

.box__two5--main::after,
.box__one5--main::after {
    animation-name: animate2__main;
}

.box__one5--main::before,
.box__one5--main::after {
    background: url(https://firebasestorage.googleapis.com/v0/b/reactpersonalspotifyapp.appspot.com/o/productSeven.jpg?alt=media&token=8bf935fa-383e-45d4-945f-24d0ff1870fc);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}

/** ========== BOX MAIN SIX (PRODUCT SIX) ========== */

.box__two6--main::before,
.box__two6--main::after,
.box__one6--main::before,
.box__one6--main::after {
    content: '';
    display: block;
    width: 40rem;
    height: 40rem;
    position: absolute;
    -webkit-background-size: 800%;
    background-size: 800%;
    animation-duration: 4s;
    background-position: 0 0;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    transform-origin: 50% 50% -200px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, .3), transparent);
}

.box__two6--main {
    transform: translateZ(0);
    mix-blend-mode: screen;
    transform: scale(0.8);
}

.box__one6--main {
    transform: translateZ(0);
    position: relative;
    top: 2rem;
    left: 1.5rem;
    bottom: 2rem;
    transform: scale(0.7);
}

.box__one6--main,
.box__two6--main {
    perspective: 60rem;
}

.box__two6--main::before,
.box__one6--main::before {
    animation-name: animate1__main;
}

.box__two6--main::after,
.box__one6--main::after {
    animation-name: animate2__main;
}

.box__one6--main::before,
.box__one6--main::after {
    background: url(https://firebasestorage.googleapis.com/v0/b/reactpersonalspotifyapp.appspot.com/o/productSix.jpg?alt=media&token=92d184b2-0638-41a3-ae56-e0ae76be57be);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}